.cart-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5; /* 배경 색상 추가 */
    border: 1px solid #ddd; /* 테두리 색상 추가 */
    border-radius: 4px; /* 테두리 둥글게 */
}

.cart-header, .cart-item, .cart-summary {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr 1fr; /* 상품명 영역을 더 넓게 조정 */
    align-items: center;
    margin-bottom: 10px;
    padding: 10px; /* 패딩 추가 */
}

.cart-header {
    font-weight: bold;
    background-color: #eee; /* 헤더 배경색 추가 */
    border-bottom: 2px solid #ddd; /* 헤더 하단 테두리 추가 */
}

.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff; /* 항목 배경색 추가 */
}

.cart-item:last-child {
    border-bottom: none;
}

.item-quantity {
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 정렬 추가 */
}

.item-quantity button {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 5px; /* 버튼 사이의 마진 추가 */
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
    padding-right: 10px; /* 오른쪽 패딩 추가 */
    font-size: 1.2em; /* 글꼴 크기 조정 */
}

.summary-total-label {
    grid-column: 3 / 4;
    text-align: right;
    padding-right: 10px; /* 오른쪽 패딩 추가 */
}

.summary-total-amount {
    grid-column: 4 / 5;
    font-weight: bold;
    color: red;
}

/* 추가 스타일 */
.button-container {
    display: flex;
    justify-content: space-between; /* 버튼을 양쪽 끝으로 */
    padding: 20px; /* 패딩 추가 */
}

.checkout-button {
    padding: 10px 20px; /* 체크아웃 버튼 패딩 */
    background-color: #5cb85c; /* 체크아웃 버튼 배경색 */
    color: white; /* 체크아웃 버튼 글자색 */
    border: none; /* 체크아웃 버튼 테두리 제거 */
    border-radius: 4px; /* 체크아웃 버튼 둥근 테두리 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.checkout-button:hover {
    background-color: #4cae4c; /* 마우스 오버 시 배경색 변경 */
}
