.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.product-header {
    position: relative;
}

.product-number {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.product-image {
    width: 100%;
    display: block;
}

.product-body {
    padding: 16px;
    background-color: #f9f9f9;
}

.product-title {
    font-size: 1.1em;
    margin-bottom: 8px;
}

.product-description {
    font-size: 0.9em;
    margin-bottom: 16px;
}

.product-pricing {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
}

.product-price {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-right: 8px;
}

.product-discount {
    font-size: 1em;
    color: #FFA500;
}

.discount-percentage {
    font-size: 1em;
    color: #FFA500;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
}


@media (min-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
